body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #303030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.fab-container {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.List-form {
  /* padding: 30px 50px 50px 30px; */
}

.List-grid {
}

.Todo-completed {
  opacity: 0.5;
  text-decoration: line-through;
}
